.open-filter-btn {
    background-color: #001f3f;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .open-filter-btn:hover {
    background-color: #004080;
  }
  
  .popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .popup-content {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    width: 600px;
    height: fit-content;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .popup-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  .search-btn, .close-btn {
    background-color: #d4a25a;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .search-btn:hover, .close-btn:hover {
    background-color: #004080;
  }
  