.fullScreen {
    padding: 20px;
}

.image-gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.main-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
    margin-bottom: 10px;
}

.large-image {
    width: 600px;
    height: 400px;
    object-fit: cover;
}

.thumbnail-images-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.thumbnail {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 4px;
    cursor: pointer;
}

.cursor-pointer {
    cursor: pointer;
}

.bookbtn.hover {
    transform: translateX(0);
}


/* apartment list */

.apartment-list-container {
    display: flex;
    justify-content: center;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 30px;
  }
  
  @media (max-width: 768px) {
    .apartment-list {
      flex-direction: column;
      align-items: center;
    }
  
    .card {
      width: 90%;
      margin-bottom: 16px;
    }
  
  }

/* From Uiverse.io by SteveBloX */
.cardzz {
  box-sizing: border-box;
  width: 300px;
  height: 254px;
  background: rgba(217, 217, 217, 0.58);
  border: 1px solid white;
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
  backdrop-filter: blur(6px);
  border-radius: 17px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  user-select: none;
  font-weight: bolder;
  color: black;
  margin: 10px;
}

.cardzz:hover {
  border: 1px solid black;
  transform: scale(1.05);
}

.cardzz:active {
  transform: scale(0.95) rotateZ(1.7deg);
}

.additional {
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 10px;
}

/* Flex Search Bar */
.search-barrr {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

.booking-optionnn {
    flex: 1;
    min-width: 150px;
    background: #f9f9f9;
    border: 1px solid #ddd;
    cursor: pointer;
}

.check-buttonn {
    background: #d4a553;
    color: white;
    padding: 10px;
    cursor: pointer;
    font-size: 1em;
    min-width: 100px;
}