.fullScreen {
    padding: 20px;
}

.apartmentTitle {
  font-size: 2.3rem; /* Equivalent to text-3xl */
  color: #d4a25a; /* Equivalent to text-gold */
  text-align: center;
  font-family: 'Georgia, serif';
  margin-bottom: 20px;
}

.apartment-description {
  font-size: 1.5rem; /* Equivalent to text-xl */
  font-weight: 500; /* Equivalent to font-medium */
  margin-top: 0.75rem; /* Equivalent to mt-3 */
  text-align: justify; /* Equivalent to text-justify */
}

.image-gallery {
  display: flex;
  align-items: center;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  gap: 20px; /* Added gap between main image and thumbnails */
}

.main-image-container {
  width: 50%; /* Takes 70% of the container */
  height: 500px; /* Larger height for the main image */
  display: flex;
  align-items: center;
  justify-items: center;
}

.large-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.thumbnail-images-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  width: 50%; /* Takes 50% of the container */
  padding: 10px;
}

.thumbnail {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 4px;
  cursor: pointer;
}

.see-more-button {
  width: 100%;
  height: 100%;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  position: relative;
  overflow: hidden;
}

.see-more-button .blurred-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(8px);
  z-index: -1;
}

.see-more-button span {
  position: relative;
  z-index: 1;
}


.cursor-pointer {
    cursor: pointer;
}

.bookbtn.hover {
    transform: translateX(0);
}


.responsive-description {
  font-size: 1.875rem; /* Equivalent to text-3xl */
  margin-top: 2rem; /* Equivalent to mt-8 */
  font-weight: 600; /* Equivalent to font-semibold */
}

/* apartment list */

.apartment-list-container {
    display: flex;
    justify-content: center;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 30px;
  }

.apartment-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem; /* Equivalent to gap-4 */
  padding: 0.5rem; /* Equivalent to p-2 */
}

/* From Uiverse.io by SteveBloX */
.cardzz {
  box-sizing: border-box;
  width: 300px;
  height: 254px;
  background: rgba(217, 217, 217, 0.58);
  border: 1px solid white;
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
  backdrop-filter: blur(6px);
  border-radius: 17px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  user-select: none;
  font-weight: bolder;
  color: black;
  margin: 10px;
}

.cardzz:hover {
  border: 1px solid black;
  transform: scale(1.05);
}

.cardzz:active {
  transform: scale(0.95) rotateZ(1.7deg);
}

.additional {
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 10px;
}

/* Flex Search Bar */
.search-barrr {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

.booking-optionnn {
    flex: 1;
    min-width: 150px;
    background: #f9f9f9;
    border: 1px solid #ddd;
    cursor: pointer;
}

.check-buttonn {
    background: #d4a553;
    color: white;
    padding: 10px;
    cursor: pointer;
    font-size: 1em;
    min-width: 100px;
}

.responsive-searchbar {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px; /* Adjust as needed */
}

.responsive-search-check {
  display: flex;
  align-items: center;
  justify-items: end;
  color: #d4a553;
  background-color: white;
  border: 1px solid #d4a553;
  padding: 5px 10px;
  cursor: pointer;
}

.responsive-search-check svg {
  margin-right: 5px; /* Adjust spacing between icon and text */
}

.apartment-details-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
    margin-top: 1rem;
}

.apartment-detail-tile {
    background-color: #f8f8f8;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.origin-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}



/* mobile responsive */

@media (max-width: 1536px) and (max-height: 864px), 
       (max-width: 1920px) and (max-height: 1080px),
       (max-width: 1024px) and (max-height: 1366px) {
  .responsive-details {
    display: flex;
    gap: 3rem;
  }

  .description-details {
    width: 70%;
    padding: 1rem;
  }

  .button-details {
    width: 30%;
    padding: 1rem;
    margin-top: 80px;
    position: relative; /* Change to relative */
  }

  .apartment-details-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
    margin-top: 1rem;
  }

  .apartment-detail-tile {
    background-color: #f8f8f8;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .additional-details {
    padding: 1rem;
  }

  .origin-buttons{
    display: none;
  }

  .responsive-searchbar{
    display: none;
  }
}


@media (max-width: 1336px) and (max-height: 768px){
  .apartment-list {
    gap: 0.5rem; 
  }
}

@media (max-width: 1200px) and (max-height: 800px){
  .apartment-list {
    gap: 0.2rem; 
  }
}

@media (max-width: 834px) and (max-height: 1194px),
       (max-width: 834px) and (max-height: 1112px),
       (max-width: 800px) and (max-height: 1280px) {
  .button-details {
    display: none;
  }
  .responsive-details {
    display: block;
  }
  .description-details {
    width: 100%;
  }
  .origin-buttons {
    display: block; /* Override display: none; */
  }
  .apartment-list{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .search-barrr {
    display: none;
  }
  .responsive-searchbar{
    display: block;
  }
}

@media (max-width: 768px) and (max-height: 1024px),
       (max-width: 800px) and (max-height: 1280px) {
  .main-image-container {
    height: 400px;
  }
  .thumbnail {
    height: 200px;
  }
}

@media (max-width: 834px) and (max-height: 1194px){
  .main-image-container {
    height: 300px;
  }
  .thumbnail {
    height: 150px;
  }
}

@media (max-width: 600px) and (max-height: 1024px){
  .main-image-container {
    height: 250px;
  }
  .thumbnail {
    height: 125px;
  }
  .apartment-description {
    font-size: 1rem;
  }
}

@media (max-width: 428) and (max-height: 926px){
  .main-image-container {
    height: 220px;
  }
  .thumbnail {
    height: 110px;
  }
  .apartment-description {
    font-size: 3rem;
  }
  .responsive-description {
    font-size: 1rem; /* Equivalent to text-3xl */
    margin-top: 2rem; /* Equivalent to mt-8 */
    font-weight: 300; /* Equivalent to font-semibold */
  }
}

