/* Background */

.backgroundd {
    background-image: url('../Images/Contact.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: calc(100vh - 60px);
    width: 100%;
    position: fixed;
    top: 60px;
    left: 0;
    z-index: -1;
}

/* Title */
.ContactUs-title {
    font-size: 3.5em;
    font-family: 'Georgia', serif;
    color: white;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.desc{
    font-size: 1.5em;
    font-family: 'Georgia', serif;
    color: white;
    text-align: center;
    margin-bottom: 5px;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.Apartment-add {
    position: absolute;  
    top: 420px;
    left: 48%;
    transform: translateX(-50%);
    background-color: #d4a25a;  
    background-size: cover;  
    background-position: center;  
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 2;
    width: 50%;  
    max-width: 1000px;  
    text-align: center;
    opacity: 0;  
    animation: fadeInUp 1s ease-out forwards;  
} 

.add-apartment {
    background: linear-gradient(135deg, #001f3f, #003366);  
    color: white;
    padding: 10px 20px; 
    font-size: 1.2em;
    border: none;
    border-radius: 0.5rem;  
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);  
    transition: transform 0.3s ease, background-color 0.3s ease;  
}

.add-apartment:hover {
    background-color: #003366;  
    transform: scale(1.05);  
}

.add-apartment:focus {
    outline: none; 
}


/* Content */


.content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    z-index: 1;
    padding: 20px;
}

.ContactUs-details {
    margin-top: 100px;
    max-width: 600px;
    text-align: center;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: grid;
    place-items: center;  
}

.ContactUs-details p {
    font-size: 1.2em;
}

.contentbox {
    width: 40%;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.contenttitle {
    font-size: 1.5rem;
    font-family: 'Georgia', serif;
}

.contentdetails {
    display: flex;
    flex-direction: column;
    align-items: center;  
}

.contact-item {
    margin-top: 20px;
    display: grid;
    gap: 30px;
    align-items: center;
    justify-content: flex-start; 
    grid-template-columns: auto 1fr;  
    font-size: 1.2rem;
}

.contact-item div {
    text-align: left;  
}


.contact-info{
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 70%;
}


@media (max-width: 480px) {
    .Apartment-add {
        left: 10px;
        right: 10px;
        width: auto;
        transform: translateX(-50%);
        padding: 1rem 0.5rem;  /* Adjusts padding for smaller screens */
    }

    .add-apartment {
        width: 50%;  /* Makes the button full width */
        font-size: 0.8em;  /* Adjusts font size for smaller screens */
    }

    .desc {
        font-size: 1.2em;  /* Adjusts font size for smaller screens */
    }

    .contenttitle {
        font-size: 1.2rem;
    }

    .contact-item{
        font-size: 0.8rem;
    }
}

@media (max-width: 576px) {
    .Apartment-add {
        left: 10px;
        right: 10px;
        width: auto;
        transform: translateX(-50%);
        padding: 1rem 0.5rem;  /* Adjusts padding for smaller screens */
    }

    .add-apartment {
        width: 50%;  /* Makes the button full width */
        font-size: 0.8em;  /* Adjusts font size for smaller screens */
    }

    .desc {
        font-size: 1.2em;  /* Adjusts font size for smaller screens */
    }

    .contenttitle {
        font-size: 1.2rem;
    }

    .contact-item{
        font-size: 0.8rem;
    }
}


