.breadcrumb {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    color: #4e4e4e;
}

.breadcrumb a {
    text-decoration: none;
}

.breadcrumb a:hover {
    text-decoration: underline;
}

.breadcrumb-separator {
    margin: 0 0.5rem;
    color: #6c757d;
}