/* Slider */

.slider-image-container {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-image {
  width: 100%;
  object-fit: cover; 
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.slider-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 3.5rem;
  text-align: center;
  z-index: 1;
  font-family: 'Georgia', serif;  
  letter-spacing: 0.05rem; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
  -webkit-text-stroke: 0.5px #001f3f;
  animation: fadeIn 3s ease-out; 
}

@keyframes slideUp {
  from {
    top: 110vh;
  }
  to {
    top: 98vh;
  }
}

@media (max-width: 1200px) {
  .slider-title {
    font-size: 3rem;
  }
}

@media (max-width: 992px) {
  .slider-title {
    font-size: 2.7rem;
  }
}

@media (max-width: 768px) {
  .slider-title {
    font-size: 2.5rem;
  }
}

@media (max-width: 576px) {
  .slider-title {
    font-size: 2.3rem;
  }
}


/* Description */


.luxury-living-container {
  position: absolute;
  top: 98vh;  
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  background-image: url('../Images/bg2.jpg');  
  background-size: cover;  
  background-position: center;  
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 2;
  width: 80%;  
  max-width: 1000px;  
  animation: slideUp 4s ease-out forwards;  
}

.luxury-living-title {
  font-size: 2.5rem;
  font-family: 'Georgia', serif;
  margin-bottom: 0.5rem;
  text-align: center;
}

.luxury-living-description {
  font-size: 1rem;
  font-family: 'Archivo Thin', 'Georgia', serif;
  margin-bottom: 0.5rem;
  margin-top: 10px;
  line-height: 1.8;  
}

.luxury-living-link {
  color: #001f3f;
  text-decoration: none;
  font-size: 1rem;
  font-family: 'Georgia', serif;
  font-weight: bold;
}

.luxury-living-image {
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.luxury-living-img {
  height: 300px;
  width: 100%;
}

@media (max-width: 1200px) {
  .luxury-living-title {
    font-size: 2.5rem; 
  }
}

@media (max-width: 992px) {
  .luxury-living-title {
    font-size: 2.2rem; 
  }
}

@media (max-width: 768px) {
  .luxury-living-title {
    font-size: 2rem; 
  }
}

@media (max-width: 576px) {
  .luxury-living-title {
    font-size: 1.8rem; 
  }
}

@media (max-width: 768px) {
  .luxury-living-container {
    padding: 0.5rem;
  }

  .luxury-living-content {
    display: block;
  }

  .luxury-living-img {
    height: 200px;
    width: 100%;
  }
}

@media (max-width: 576px) {
  .luxury-living-img {
    height: 150px;
    width: 100%;
  }
}

.luxury-living-image img {
  max-width: 60%; 
  height: auto; 
  
}

@media (max-width: 1200px) {
  .luxury-living-image img {
    width: 60%; 
  }
}

@media (max-width: 992px) {
  .luxury-living-image img {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .luxury-living-image img {
    width: 40%;
  }
}

@media (max-width: 576px) {
  .luxury-living-image img {
    width: 30%;
  }
}


/* Background */


.background{
  background-size: cover;
  height: 680px;
  
}

@media (max-width: 1200px) {
  .background {
    height: 600px;
  }
}

@media (max-width: 992px) {
  .background {
    height: 800px;
  }
}

@media (max-width: 768px) {
  .background {
    height: 920px;
  }
}

@media (max-width: 576px) {
  .background {
    height: 950px;
  }
}

@media (max-width: 450px) {
  .background {
    height: 1000px;
  }
}

@media (max-width: 400px) {
  .background {
    height: 1100px;
  }
}


/* Search Apartment */

.booking-form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

.booking-form {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  grid-auto-rows: min-content;
}

.booking-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.booking-field label {
  font-size: 16px;
  color: #999;
  margin-bottom: 5px;
}

.booking-field input,
.booking-field select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  color: #d4a25a; 
}

.booking-field input::placeholder {
  color: #d4a25a; 
}


.booking-button {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 1 / -1;
}

.booking-button button {
  background-color: #d4a25a;
  color: white;
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.booking-button button:hover {
  background-color: #b38742;
}

@media (max-width: 992px) {
  .booking-form {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .booking-form {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .booking-button {
    grid-column: 1 / -1;
  }
}


/* Auction Description */

.auction-description {
  margin-top: 20px;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 60%;
  margin-left: auto;
  margin-right: 10px; 
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.auction-description p {
  font-size: 20px;
  font-family: 'Georgia', serif;
  color: #666;
  margin-bottom: 10px;
}

.auction-button {
  color: #d4a25a;
  display: flex;
  font-size: 23px;
  font: bold;
  cursor: pointer;
  text-decoration: underline;
  margin-left: 3px;
  justify-content: center; 
  align-items: center;
  gap: 5px;
}

.auction-button:hover {
  color: #b77100;
}


@media (max-width: 768px) {
  .auction-description {
    width: 100%;
    margin-left: auto;
    margin-right: auto; 
  }

  .auction-description p {
    font-size: 18px; 
  }

  .auction-button {
    font-size: 18px; 
  }
}


/* apartment list */

.apartment-list-container {
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 30px;
}

@media (max-width: 768px) {
  .apartment-list {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 90%;
    margin-bottom: 16px;
  }

}

/* All Apartment button */

.all-apartments-button {
  display: inline-flex;
  align-items: center;
  position: relative; /* Required for pseudo-elements */
  padding: 10px 20px;
  border: 2px solid #d4a25a;
  color: #d4a25a;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  transition: color 0.3s;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 1px;
  overflow: hidden; /* Hide overflow for the pseudo-elements */
}

.all-apartments-button::before,
.all-apartments-button::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50%;
  background-color: #d4a25a;
  z-index: -1; /* Place behind the text */
  transition: transform 0.3s;
}

.all-apartments-button::before {
  left: 0;
  transform: translateX(-100%);
}

.all-apartments-button::after {
  right: 0;
  transform: translateX(100%);
}

.all-apartments-button:hover::before,
.all-apartments-button:hover::after {
  transform: translateX(0);
}

.all-apartments-button:hover {
  color: #fff;
}









